@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--illustration-color: #da667b;
	--clr-primary: #f1e0c5;
	--clr-secondary: #342a21;
	--svg-size: 70px;
}

h1,
h2,
h3 {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: italic;
}

body {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--clr-primary);
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 3.5rem;
	margin-bottom: 1rem;
}

p {
	text-wrap: wrap;
	line-height: 1.5;
}

p:not(:last-of-type) {
	margin-bottom: 1rem;
}

hr {
	color: inherit;
}

.main > * + * {
	margin-bottom: 4rem;
}

.hero {
	height: 100dvh;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.wrapper {
	position: relative;
	padding-inline: 1rem;
	max-width: 700px;
	margin: 0 auto;
}

.hero-content {
	line-height: 0.9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
}

.illustrations {
	color: var(--illustration-color);
}

.illustrations > * {
	position: absolute;
	top: 0;
	z-index: 3;
}

.icon {
	width: var(--svg-size);
	height: var(--svg-size);
	/* animation: move 5s infinite alternate linear; */
}

.hand1 {
	--svg-size: 20rem;
	rotate: -13deg;
	top: -93px;
	left: -160px;
	animation-name: touch;
}

.hand2 {
	--svg-size: 20rem;
	top: -140px;
	right: -164px;
	rotate: -12deg;
}

.cog {
	top: 110px;
	left: -20px;
}

.flower {
	top: 80px;
	right: -50px;
}

.circle-segment {
	top: -50px;
	left: 54px;
}

.quadrant-circle {
	top: -19px;
	left: 220px;
	z-index: 1;
}

.starburst {
	--svg-size: 20px;
	animation: none;
}

.about {
	width: 100%;
}

.conclusion-inner {
	padding-block: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid currentColor;
}

@keyframes move {
	to {
		translate: 20px 20px;
	}
}

@keyframes touch {
	to {
		translate: -20px -20px;
	}
}

@media (max-width: 768px) {
	:root {
		--svg-size: 60px;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	p,
	a {
		font-size: 0.9rem;
	}
}
