@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

:root {
	--illustration-color: #da667b;
	--clr-primary: #f1e0c5;
	--clr-secondary: #342a21;
	--svg-size: 70px;
	--gap: 20px;
}

h1,
h2,
h3 {
	font-family: "Playfair Display", serif;
	font-weight: 900;
	font-style: italic;
}

h1 {
	@apply md:text-8xl text-3xl;
}

h2 {
	@apply md:text-4xl mb-4 text-2xl;
}

p {
	@apply leading-[1.5] text-wrap;
}

a {
	@apply underline
}

body {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: var(--clr-primary);
}

@theme {
	--animate-move: move 5s infinite alternate linear;
	--animate-touch: touch 5s infinite alternate linear;
	--animate-scroll: scroll 20s linear infinite;

	/* keyframes */
	@keyframes move {
		to {
			transform: translate(20px, 20px);
		}
	}
	@keyframes touch {
		to {
			transform: translate(-20px, -20px);
		}
	}
	@keyframes scroll {
		to {
			transform: translate(calc(-50% - calc(var(--gap) / 2)));
		}
	}
}